<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="feelings.helper"
    android:installLocation="internalOnly">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".FeelingsApplication"
        >

        <meta-data android:name="com.google.android.gms.games.APP_ID"
            android:value="123456789012" />

        <activity android:name=".ui.question.QuestionsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.answer.AnswerActivity"
            android:parentActivityName=".ui.question.QuestionsActivity"
            android:label="@string/title_answer_activity"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.question.QuestionsActivity" />
        </activity>

        <activity android:name=".ui.log.AnswerLogActivity"
            android:parentActivityName=".ui.question.QuestionsActivity"
            android:label="@string/title_answer_log_activity"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.question.QuestionsActivity" />
        </activity>

    </application>

</manifest>